.container table{
    border-collapse: collapse;
    width: 100%;
}

.container th{
    background: black;
    padding: 1rem;
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
}

.container td{
    background: purple;
    padding: 1rem;
    color: white;
    text-align: right;
}

.coin_row{
    border: 0.5px solid red;
}


.rank{
    text-align: center !important;
}

.currency_name{
    display: flex;
    flex-direction: column;
}

.currency_name p{
    margin: 0;
    text-align: left;
}